<!-- <div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <img src="img/logo.png" class="w-100" style="max-width:120px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Hackathon Node.js Starter</h1>
      <h2 class="h4 text-gray font-weight-light">Build your hackathon project faster.</h2>
    </div>
    <a class="btn btn-primary mt-2" href="https://github.com/MLH/mlh-hackathon-nodejs-starter"> Check the Docs </a>
  </div>
</div>

<div class="text-gray-light text-center py-5 my-5">
  <p class="lead">Edit <code>controllers/</code> to update how to receive and reply to requests.</p>
  <p class="lead">Edit <code>templates/</code> to update the layout and styling.</p>
  <p class="lead">Edit <code>models/</code> to update how the data is stored.</p>
</div> -->
<br>
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <form action="/" method="POST" name="myForm">
        <div class="form-group row">
          <label for="time" class="col-sm-2 col-form-label">Hora:</label>
          <div class="col-sm-4">
            <input type="time" name="time" id="time" value='now' class="form-control">
          </div>
          <label for="age" class="col-sm-2 col-form-label">Edad:</label>
          <div class="col-sm-4">
            <input type="number" min="1" max="99" name="age" id="age" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="sex" class="col-sm-2 col-form-label">Sexo:</label>
          <div class="col-sm-4">
            <select name="sex" id="sex" class="form-control">
              <option value="0">Masculino</option>
              <option value="1">Femenino</option>
            </select>
          </div>
          <label for="day" class="col-sm-2 col-form-label">Dia:</label>
          <div class="col-sm-4">
            <select name="day" id="day" class="form-control">
              <option value="0">Lunes</option>
              <option value="1">Martes</option>
              <option value="2">Miercoles</option>
              <option value="3">Jueves</option>
              <option value="4">Viernes</option>
              <option value="5">Sabado</option>
              <option value="6">Domingo</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="muni" class="col-sm-2 col-form-label">Municipio:</label>
          <div class="col-sm-4">
            <select name="muni" id="muni" class="form-control"></select>
          </div>
          <label for="barrio" class="col-sm-2 col-form-label">Barrio:</label>
          <div class="col-sm-4">
            <select name="barrio" id="barrio" class="form-control"></select>
          </div>
        </div>


        <div class="form-group row">
          <label for="movilv" class="col-sm-2 col-form-label">Movil Victima:</label>
          <div class="col-sm-4">
            <select name="movilv" id="movilv" class="form-control">
              <option value="0">A PIE</option>
              <option value="1">CONDUCTOR MOTOCICLETA</option>
              <option value="2">PASAJERO VEHICULO</option>
              <option value="3">CONDUCTOR VEHICULO</option>
              <option value="4">BICICLETA</option>
              <option value="5">PASAJERO MOTOCICLETA</option>
              <option value="6">CONDUCTOR TAXI</option>
              <option value="7">CONDUCTOR BUS</option>
              <option value="8">PASAJERO BUS</option>
              <option value="9">PASAJERO BARCO</option>
              <option value="10">PASAJERO TAXI</option>
              <option value="11">PASAJERO METRO</option>
              <option value="12">TRIPULANTE AERONAVE</option>
              <option value="13">PASAJERO AERONAVE</option>
            </select>
          </div>
          <label for="movila" class="col-sm-2 col-form-label">Movil Agresor:</label>
          <div class="col-sm-4">
            <select name="movila" id="movila" class="form-control">
              <option value="0">A PIE</option>
              <option value="1">CONDUCTOR MOTOCICLETA</option>
              <option value="2">PASAJERO MOTOCICLETA</option>
              <option value="3">PASAJERO VEHICULO</option>
              <option value="4">CONDUCTOR VEHICULO</option>
              <option value="5">CONDUCTOR TAXI</option>
              <option value="6">PASAJERO BUS</option>
              <option value="7">BICICLETA</option>
              <option value="8">PASAJERO BARCO</option>
              <option value="9">PASAJERO TAXI</option>
              <option value="11">PASAJERO AERONAVE</option>
              <option value="12">PASAJERO METRO</option>
              <option value="13">CONDUCTOR BUS</option>
              <option value="14">TRIPULANTE AERONAVE</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input value="Submit" type="submit" class="btn btn-primary btn-lg btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  $.getJSON("https://raw.githubusercontent.com/caev03/ProyectoML/master/municipios.json", function (data) {
    data = data.sort(function (a, b) {
      // return a.name - b.name;
      if (a.name < b.name) { return -1; }
      if (a.name > b.name) { return 1; }
      return 0;
    });
    console.log(data)
    var $select = $('#muni');
    $.each(data, function (i, val) {
      $select.append($('<option />', { value: val["cod"], text: val["name"] }));
    });
  })

  $("#muni").change(function () {
    var selectedVal = $(this).val();
    $.getJSON("https://raw.githubusercontent.com/caev03/ProyectoML/master/barrios.json", function (data) {
      console.log(selectedVal)
      data = data.filter(barrio => barrio["code_dane"] == selectedVal);
      data = data.sort(function (a, b) {
        // return a.name - b.name;
        if (a.name < b.name) { return -1; }
        if (a.name > b.name) { return 1; }
        return 0;
      });
      console.log(data)
      var $select = $('#barrio');
      $select.empty();
      $.each(data, function (i, val) {
        $select.append($('<option />', { value: val["cod"], text: val["name"] }));
      });
    })
  })
  $(function () {
    var d = new Date(),
      h = d.getHours(),
      m = d.getMinutes();
    if (h < 10) h = '0' + h;
    if (m < 10) m = '0' + m;
    $('input[type="time"][value="now"]').each(function () {
      $(this).attr({ 'value': h + ':' + m });
    });
  });
</script>