<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <img src="img/logo.png" class="w-100" style="max-width:120px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Hackathon Node.js Starter</h1>
      <h2 class="h4 text-gray font-weight-light">Build your hackathon project faster.</h2>
    </div>
    <a class="btn btn-primary mt-2" href="https://github.com/MLH/mlh-hackathon-nodejs-starter"> Check the Docs </a>
  </div>
</div>

<div class="text-gray-light text-center py-5 my-5">
  <p class="lead">Edit <code>controllers/</code> to update how to receive and reply to requests.</p>
  <p class="lead">Edit <code>templates/</code> to update the layout and styling.</p>
  <p class="lead">Edit <code>models/</code> to update how the data is stored.</p>
</div>

<form action="/" method="POST" name="myForm">
  <p><label for="age">Edad:</label>
  <input type="number" min="1" max="99" name="age" id="age"></p>

  <p><label for="sex">Sexo:</label>
    <select name="sex" id="sex">
        <option value="0">Femenino</option>
        <option value="1">Masculino</option>
    </select>

  <p><label for="datas">Lugar:</label>
  <select name="datas" id="datas"></select>

  <p><label for="day">Dia:</label>
    <select name="day" id="day">
        <option value="0">Domingo</option>
        <option value="1">Lunes</option>
        <option value="2">Martes</option>
        <option value="3">Miercoles</option>
        <option value="4">Jueves</option>
        <option value="5">Viernes</option>
        <option value="6">Sabado</option>
    </select>

  <input value="Submit" type="submit" onclick="submitform()">
</form>

<script>
$.getJSON("https://raw.githubusercontent.com/caev03/ProyectoML/master/municipios.json",function(data){
  var $select = $('#datas');
  $.each(data, function(i, val){
    $select.append($('<option />', { value: val["cod"], text: val["name"] }));
  });
})
</script>
